CoopCheck.DalADO/Service References/ServiceReference1/PCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basic1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_PCService_Def_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://apisandbox.swiftprepaid.com/PromocodeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://apisandbox.swiftprepaid.com/PromocodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://apisandbox.swiftprepaid.com/PromocodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" />
      <xsd:import schemaLocation="https://apisandbox.swiftprepaid.com/PromocodeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PCService_Def_GetPromocode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocode" />
  </wsdl:message>
  <wsdl:message name="PCService_Def_GetPromocode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocodeResponse" />
  </wsdl:message>
  <wsdl:message name="PCService_Def_UpdatePromocode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePromocode" />
  </wsdl:message>
  <wsdl:message name="PCService_Def_UpdatePromocode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePromocodeResponse" />
  </wsdl:message>
  <wsdl:message name="PCService_Def_IssuePromocode_InputMessage">
    <wsdl:part name="parameters" element="tns:IssuePromocode" />
  </wsdl:message>
  <wsdl:message name="PCService_Def_IssuePromocode_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssuePromocodeResponse" />
  </wsdl:message>
  <wsdl:portType name="PCService_Def">
    <wsdl:operation name="GetPromocode">
      <wsdl:input wsaw:Action="http://tempuri.org/PCService_Def/GetPromocode" message="tns:PCService_Def_GetPromocode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PCService_Def/GetPromocodeResponse" message="tns:PCService_Def_GetPromocode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePromocode">
      <wsdl:input wsaw:Action="http://tempuri.org/PCService_Def/UpdatePromocode" message="tns:PCService_Def_UpdatePromocode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PCService_Def/UpdatePromocodeResponse" message="tns:PCService_Def_UpdatePromocode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssuePromocode">
      <wsdl:input wsaw:Action="http://tempuri.org/PCService_Def/IssuePromocode" message="tns:PCService_Def_IssuePromocode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/PCService_Def/IssuePromocodeResponse" message="tns:PCService_Def_IssuePromocode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basic1" type="tns:PCService_Def">
    <wsp:PolicyReference URI="#basic1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPromocode">
      <soap:operation soapAction="http://tempuri.org/PCService_Def/GetPromocode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePromocode">
      <soap:operation soapAction="http://tempuri.org/PCService_Def/UpdatePromocode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssuePromocode">
      <soap:operation soapAction="http://tempuri.org/PCService_Def/IssuePromocode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_PCService_Def" type="tns:PCService_Def">
    <wsp:PolicyReference URI="#WSHttpBinding_PCService_Def_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPromocode">
      <soap12:operation soapAction="http://tempuri.org/PCService_Def/GetPromocode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePromocode">
      <soap12:operation soapAction="http://tempuri.org/PCService_Def/UpdatePromocode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssuePromocode">
      <soap12:operation soapAction="http://tempuri.org/PCService_Def/IssuePromocode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCService">
    <wsdl:port name="basic1" binding="tns:basic1">
      <soap:address location="https://apisandbox.swiftprepaid.com/PromocodeService.svc/basic1" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_PCService_Def" binding="tns:WSHttpBinding_PCService_Def">
      <soap12:address location="https://apisandbox.swiftprepaid.com/PromocodeService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://apisandbox.swiftprepaid.com/PromocodeService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>