CoopCheck.DalADO/Service References/ServiceReference1/PromocodeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://apisandbox.swiftprepaid.com/PromocodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" />
  <xs:element name="GetPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q1:GetPromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="GetPromocodeResult" nillable="true" type="q2:GetPromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q3:UpdatePromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="UpdatePromocodeResult" nillable="true" type="q4:UpdatePromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuePromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q5:IssuePromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuePromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="IssuePromocodeResult" nillable="true" type="q6:IssuePromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>