CoopCheck.DalADO/Service References/PromoCodeService/PromocodeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://omsitest.swiftprepaid.com/API/PromocodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" />
  <xs:element name="SubmitClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q1:SubmitClaimRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="SubmitClaimResult" nillable="true" type="q2:SubmitClaimResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q3:GetPromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="GetPromocodeResult" nillable="true" type="q4:GetPromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q5:UpdatePromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="UpdatePromocodeResult" nillable="true" type="q6:UpdatePromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuePromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q7:IssuePromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssuePromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="IssuePromocodeResult" nillable="true" type="q8:IssuePromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q9:RedeemPromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="RedeemPromocodeResult" nillable="true" type="q10:RedeemPromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q11:BankPromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="BankPromocodeResult" nillable="true" type="q12:BankPromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q13:ValidatePromocodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="ValidatePromocodeResult" nillable="true" type="q14:ValidatePromocodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCodeForCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q15:ValidateCodeForCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCodeForCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="ValidateCodeForCardResult" nillable="true" type="q16:ValidateCodeForCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemBankedPromocodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q17:RedeemBankedPromocodesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemBankedPromocodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="RedeemBankedPromocodesResult" nillable="true" type="q18:RedeemBankedPromocodesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemCodeForCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="request" nillable="true" type="q19:RedeemCodeForCardRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedeemCodeForCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="RedeemCodeForCardResult" nillable="true" type="q20:RedeemCodeForCardResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveClaimByPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promocode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveClaimByPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="RetrieveClaimByPromocodeResult" nillable="true" type="q21:RetrieveClaim_OutPut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveClaimBySKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveClaimBySKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="RetrieveClaimBySKUResult" nillable="true" type="q22:RetrieveClaim_OutPut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromocodeExpirationBySKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromocodeExpirationBySKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromocodeExpirationBySKUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromocodeExpirationByPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promocode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromocodeExpirationByPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PromocodeExpirationByPromocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeExpirationByPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promocode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newExpirationDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeExpirationByPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePromocodeExpirationByPromocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeExpirationBySKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newExpirationDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeExpirationBySKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePromocodeExpirationBySKUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeValueByPromocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promocode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpromocodevalue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeValueByPromocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePromocodeValueByPromocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeValueBySKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sku" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newpromocodevalue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocodeValueBySKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePromocodeValueBySKUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>