CoopCheck.DalADO/Service References/PromoCodeService/PromocodeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://omsitest.swiftprepaid.com/API/PromocodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" />
  <xs:complexType name="RequestObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientData9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PromcodeServiceLibrary" minOccurs="0" name="Customer" nillable="true" type="q1:Customer" />
      <xs:element minOccurs="0" name="IssuanceProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainUserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromocodeProgramId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestObject" nillable="true" type="tns:RequestObject" />
  <xs:complexType name="ResponseObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Promocode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedemptionLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedemptionSite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwiftErrorReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseObject" nillable="true" type="tns:ResponseObject" />
</xs:schema>